<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Mi Angular APi</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link"
            href="#"
            routerLink="dbz"
            routerLinkActive="active"
            >MI API DBZ</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="#"
            routerLink="pokemones"
            routerLinkActive="active"
            >MI API POKEMON</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="#"
            routerLink="openlibrary"
            routerLinkActive="active"
            >MI API OPENLIBRARY</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            href="#"
            routerLink="cocteles"
            routerLinkActive="active"
            >MI API COCTELES</a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            MI APIS
          </a>
          <ul class="dropdown-menu">
            <li>
              <a
                class="dropdown-item"
                href="#"
                routerLink="miapi/list"
                routerLinkActive="active"
                >LISTA</a>
              
              <a
                class="dropdown-item"
                href="#"
                routerLink="miapi/list"
                routerLinkActive="active"
                >AGREGAR</a>
              
              <a
                class="dropdown-item"
                href="#"
                routerLink="miapi/list"
                routerLinkActive="active"
                >PRESENTACION</a>
              
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
